@import "../styles/theme.scss";
@import "../styles/mixins/responsive.scss";

$component-name: "post";

.#{$component-name} {
  width: 100%;

  h4 {
    font-family: $font-family-secondary;
    font-size: $font-size-20;
    font-weight: $font-weight-200;
    margin-top: 40px;

    &:before {
      content: "### ";
    }

    @include tablet {
      font-size: $font-size-20;
      margin-top: 40px;
    }

    @include desktop {
      font-size: $font-size-24;
      margin-top: 60px;
    }

    @include long-desktop {
      font-size: $font-size-24;
      margin-top: 60px;
    }
  }

  > p {
    font-family: $font-family-tertiary;
    font-size: $font-size-18;
    line-height: 1.5;

    @include tablet {
      font-size: $font-size-18;
    }

    @include desktop {
      font-size: $font-size-20;
    }

    @include long-desktop {
      font-size: $font-size-24;
    }
  }

  ol {
    li {
      font-size: $font-size-18;

      @include tablet {
        font-size: $font-size-18;
      }

      @include desktop {
        font-size: $font-size-20;
      }

      @include long-desktop {
        font-size: $font-size-24;
      }

      &::marker {
        content: counter(list-item) " ˃_ ";
        color: $color-grey-800;
        font-weight: $font-weight-600;
      }
    }
  }

  ul {
    li {
      font-size: $font-size-18;

      @include tablet {
        font-size: $font-size-18;
      }

      @include desktop {
        font-size: $font-size-20;
      }

      @include long-desktop {
        font-size: $font-size-24;
      }

      &::marker {
        content: "˃_ ";
        color: $color-grey-800;
        font-weight: $font-weight-600;
      }
    }
  }

  ul,
  ol {
    padding-left: 90px;

    li {
      margin-bottom: 20px;
      line-height: 1.5;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .pill {
    font-family: $font-family-quaternary;
    font-size: $font-size-20;

    &:before,
    &:after {
      font-family: $font-family-tertiary;
      font-size: $font-size-20;
      color: $color-grey-200;
    }

    &:before {
      content: 'fmt.Println("';
    }

    &:after {
      content: '")';
    }

    @include tablet {
      font-size: $font-size-38;

      &:before,
      &:after {
        font-size: $font-size-38;
      }
    }

    @include desktop {
      font-size: $font-size-38;

      &:before,
      &:after {
        font-size: $font-size-38;
      }
    }

    @include long-desktop {
      font-size: $font-size-38;

      &:before,
      &:after {
        font-size: $font-size-38;
      }
    }
  }

  code {
    font-size: $font-size-16;
    line-height: 1.7;

    @include tablet {
      font-size: $font-size-16;
    }

    @include desktop {
      font-size: $font-size-18;
    }

    @include long-desktop {
      font-size: $font-size-20;
    }
  }
}
