@import "../styles/theme.scss";
@import "../styles/mixins/responsive.scss";

$component-name: "pre-post";

.#{$component-name} {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.85em;
  color: #888;
  font-weight: 500;
}
