$font-family-primary: "Source Code Pro", monospace;
$font-family-secondary: "Space mono", monospace;
$font-family-tertiary: "Droid Sans", sans-serif;
$font-family-quaternary: "Consolas", Liberation Mono, Menlo, Courier, monospace;
$color-grey-1000: #000;
$color-grey-800: #2b2b2b;
$color-grey-200: #d8d8d8;
$font-size-60: 60px;
$font-size-48: 48px;
$font-size-38: 38px;
$font-size-28: 28px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-weight-200: 200;
$font-weight-600: 600;
$app-max-width: 700px;
