@import "../../styles/theme.scss";
@import "../../styles/mixins/responsive.scss";

nav a {
  color: #97a1aa;
  text-decoration: none;
  margin-left: 20px;
}

$component-name: "header";

.#{$component-name} {
  margin-top: 50px;
  width: 100%;

  &-image {
    width: 15%;
    clip-path: circle(50% at 50%);
    margin-bottom: 40px;
  }

  &-title {
    margin: 0;

    a {
      color: $color-grey-800;
      text-decoration: none;
      font-family: $font-family-secondary;
      font-size: $font-size-28;
      font-weight: $font-weight-600;

      &:before {
        content: "# ";
      }

      @include tablet {
        font-size: $font-size-28;
      }

      @include desktop {
        font-size: $font-size-38;
      }

      @include long-desktop {
        font-size: $font-size-48;
      }
    }
  }
}
