$surface-duo-width: 540px;
$tablet-width: 768px;
$desktop-width: 1024px;
$long-desktop-width: 1200px;

@mixin surface-duo {
  @media (min-width: #{$surface-duo-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$long-desktop-width - 1px}) {
    @content;
  }
}

@mixin long-desktop {
  @media (min-width: #{$long-desktop-width}) {
    @content;
  }
}
