@import "../../styles/theme.scss";
@import "../../styles/mixins/responsive.scss";

$component-name: "social-networks-share-buttons";

.#{$component-name} {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;

  button {
    padding: 0;
    width: "fit-content";

    &:hover {
      background: none;
      box-shadow: none;
    }

    &:focus {
      border: none;
      outline: none;
    }
  }

  button > svg,
  button > svg {
    width: 30px;
    fill: $color-grey-300;

    &:hover {
      transition: all 0.5s ease-out;
      fill: $color-grey-500;
    }

    @include tablet {
      width: 30px;
    }

    @include desktop {
      width: 35px;
    }

    @include long-desktop {
      width: 40px;
    }
  }
}
